{% extends 'Layout/Layout.html.twig' %}

{% block content %}
    {{ dump(events) }}
    <div class="container">
        <h2>Gestion des événements</h2>
        <a class="btn-black addEvent" href="{# todo quand page ajout event alors faire le lien #}">Ajouter un
            événement</a>
        <hr/>
        <table>
            <thead>
            <tr>
                <th style="width: 200px">Nom de l'événement</th>
                <th style="width: 140px">Créé le</th>
                <th style="width: 140px">Par</th>
                <th>Description</th>
                <th style="width: 140px">Date</th>
                <th style="width: 220px; text-align: center"></th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    {# todo quand la route sera faite, faire le foreach #}
                    <td class="tdTitle">{{ event.nom }}</td>
                    <td>test</td>
                    <td>{{ event.auteur.prenom }} {{ event.auteur.nom | upper }}</td>
                    <td>{{event.description}}</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
